dn: uid=<user>,<usuffix>,<suffix>
objectClass: person
objectClass: inetOrgPerson
objectClass: posixAccount
cn: <user>
sn: X
uid: <user>
uidNumber: <uid>
gidNumber: <gid>
homeDirectory: <home>
loginShell: <shell>
mail: <user>@{{ slapd_domain }}
userAccountControl: 512
